{% extends "base.html" %}

{% block title %}Регистрация{% endblock title %}

{% block sidenav %}
    <li><a href="/">Главная</a></li>
{% endblock sidenav %}

{% block content %}
<h1>Пожалуйста, выполните вход.</h1>
<p>You must be logged in to submit or views quotes.</p>

<form method="post" action="{% url 'login' %}">
<table>
    {{ form.as_table }}
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="login"></td>
    </tr>
</table>
<p>Not registered yet?<a href="{% url 'register'%}">Register here</a>.</p>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

{% endblock content %}