{% extends 'quotes/quote.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Пользователь: {{ customer.last_name }} {{ customer.name }}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url "customer_update" customer.id %}">Редактировать</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url "sign_create"  %}">Добавить сертификат</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Подробная информация</h5>
			<hr>
			<p><strong>Должность:</strong> {{ customer.position }}</p>
			<p><strong>Подразделение:</strong> {{customer.department}}</p>
			<p><strong>Структура:</strong> {{customer.get_iogv_display}}</p>
			<p><strong>ИНН:</strong> {{customer.taxpayer_number|default:"--"}}</p>
			<p><strong>СНИЛС:</strong> {{customer.snils_number|default:"--"}}</p>
			<p><strong>Email:</strong> {{customer.email}}</p>
			<p><strong>Адрес:</strong> {{customer.address|default:"--"}}</p>
			<p><strong>Рабочий телефон:</strong> {{customer.work_phone|default:"--"}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Всего было ЭП</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Кем выдана</th>
					<th>Кому выдана</th>
					<th>Дата выдачи</th>
					<th>Дата окончания</th>
					<th>Статус</th>
					<th></th>
					<th></th>

				</tr>
                {% for sign in customer.customer_sign.all %}
                        <tr>
                            <td><a href="sign/{{ sign.id }}">{{ sign.id }}</a></td>
                            <td>{{ sign.get_sign_type_display }}</td>
                            <td>{{ sign.customer }}</td> 
                            <td>{{ sign.start_date }}</td> 
                            <td>{{ sign.end_date }}</td>
                            <td>{{ sign.get_status_display }}</td>
							<td><a class="btn btn-outline-warning btn-sm" href="{% url "customer_update" sign.id %}">Изменить</a></td>
							<td><a class="btn btn-outline-danger btn-sm" href="{% url "quote_delete" sign.id %}">Удалить</a></td> 

                        </tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<br><a class="btn btn-primary ml-3" href="/detail">Назад к списку</a>
{% endblock %}