<br>
<div class="row">
	<div class="col">
		<div class="col-md" >
			<div class="card text-center text-black border-danger" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href='7days_left'>Неделя</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{signs_7days_left.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black border-warning" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href='15days_left'>15 дней</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{signs_15days_left.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black border-success" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title"><a href='30days_left'>30 дней</a></h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{signs_30days_left.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<br>